.coverage-summary {
  border-bottom: 1px solid #d1d5da;
}

.coverage-options {
  border-bottom: 1px solid #d1d5da;
}

.edit-coverage-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #42C7CE;
  font-weight: bold;
}

.flex-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.flex-col {
  width: 100%;
  text-align: center;
  border-top: 1px solid #d1d5da;
  border-right: 1px solid #d1d5da;
  border-bottom: 1px solid #d1d5da;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 200;
}

td.flex-col.active {
  background-color:#42C7CE !important;
  color: white;
}
