<div class="box" style="width: 450px;">
  <div class="section tile-header">
    <h3 class="tile-header-name">{{ vehicle.name }}</h3>
  </div>

  <div *ngIf="!editMode">
    <div class="section coverage-summary">
      <table
        style="width: 100%;">
        <tr
          *ngFor="let limit of coverageLimits; let i = index">
          <div
            [ngStyle]="{ 'padding-top': i != 0 ? '10px' : '0px' }">

            <td style="width: 100%">
              {{ limit.title }}
            </td>
            <td style="font-weight: bold; white-space: nowrap;">
              {{ limit.options[selectedOptions[limit.name]].name }}
            </td>

          </div>

        </tr>
      </table>
    </div>

    <div class="tall-section edit-coverage-button">
      <button
        style="cursor: pointer;"
        type="button"
        name="button"
        (click)="editCoverages()">
        EDIT COVERAGE</button>
    </div>
  </div>

  <div *ngIf="editMode">
    <div class="tall-section coverage-options">
      <table
        style="width: 100%;">
        <tr
          *ngFor="let limit of coverageLimits; let i = index">
          <div
            [ngStyle]="{ 'padding-top': i != 0 ? '10px' : '0px' }">

            <div>
              {{ limit.title }}
              <div class="flex-grid">
                <td
                  class="flex-col"
                  style="cursor: pointer;"
                  *ngFor="let option of limit.options; let i = index"
                  [ngStyle]="{ 'border-left': i === 0 ? '1px solid #d1d5da' : '' }"
                  (click)="setClickedOption(limit.name, i)"
                  [class.active]="i == selectedOptions[limit.name]">
                    {{ option.name.toUpperCase() }}
                </td>
              </div>

            </div>


          </div>

        </tr>
      </table>
    </div>
  </div>

</div>
